.header-image {
  background: linear-gradient(rgba(18, 39, 59, 0.514), rgba(5, 54, 102, 0.205)),
    url("src/assets/img/bandera.png");
  background-size: cover;
  margin-top: 5rem;
  min-height: 25rem;
  height: 400px;
}
.search-input {
  height: 50px;
  background-color: white;
  padding-left: 2rem;
  border-radius: 2rem;
  border: none;
}
.search-button {
  position: absolute;
  right: -4px;
  top: -12px;
}
.search-button:focus {
  outline: none;
}
.header-image .govco-icon {
  color: #004884 !important;
}
