.informed__image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
.informed__card {
  bottom: -10px;
}
.position {
  object-position: 30% 70%;
}
.card {
  min-height: 120px;
  border-radius: 10px;
  width: calc(100% - 50px);
}
p,
small {
  color: #0b457f;
}
