<div class="container mt-3">
  <div class="title-interest w-100 my-3">
    <h3 class="font-weight-normal headline-xxl-govco">Infórmate</h3>
  </div>
  <div class="row mb-5">
    <div class="ccol-12 col-md-8 mb-4 p-0">
      <img
        src="../../assets/img/informed/group.png"
        alt="grupo de jovenes"
        class="informed__image position-relative position p-2"
      />
      <div
        class="card shadow card__footer informed__card position-absolute mx-4"
      >
        <div class="card-body">
          <small>{{ info[0].date }}</small>
          <p class="card-text">{{ info[0].description }}</p>
        </div>
      </div>
    </div>
    <div class="ccol-12 col-md-4 mb-4 p-0">
      <img
        src="../../assets/img/informed/cultivo.png "
        class="informed__image position-relative p-2"
        alt="cultivo"
      />
      <div class="card shadow informed__card position-absolute mx-4">
        <div class="card-body">
          <small>{{ info[1].date }}</small>
          <p class="card-text">{{ info[1].description }}</p>
        </div>
      </div>
    </div>
    <div class="ccol-12 col-md-4 p-0">
      <img
        src="../../assets/img/informed/colombia.png"
        alt="bandera de colombia"
        class="informed__image position-relative p-2"
      />
      <div class="card shadow informed__card position-absolute mx-4">
        <div class="card-body">
          <small>{{ info[2].date }}</small>
          <p class="card-text">{{ info[2].description }}</p>
        </div>
      </div>
    </div>
    <div class="ccol-12 col-md-4 p-0">
      <img
        src="../../assets/img/informed/distrital.png"
        alt="hombres"
        class="informed__image position-relative p-2"
      />
      <div class="card shadow informed__card position-absolute mx-4">
        <div class="card-body">
          <small>{{ info[3].date }}</small>
          <p class="card-text">{{ info[3].description }}</p>
        </div>
      </div>
    </div>
    <div class="ccol-12 col-md-4 px-1 py-2">
      <img
        src="../../assets/img/informed/laptop.png"
        alt="computador portatil"
        class="informed__image position-relative p-2"
      />
      <div class="card shadow informed__card position-absolute mx-4">
        <div class="card-body">
          <small>{{ info[4].date }} </small>
          <p class="card-text">{{ info[4].description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a href="#" class="btn-position btn btn-low-mix-govco">
      <span class="btn-govco-text">Ver otras noticias</span>
      <span class="govco-icon govco-icon-right-arrow size-2x"></span>
    </a>
  </div>
</div>
