<div class="card govco-card mb-3">
  <div class="row card-body">
    <div class="col-3">
      <img
        src="../../../assets/img/{{ card.image }}"
        class="rounded float-left img-fluid"
      />
    </div>
    <div class="col-9">
      <h5 class="card-title">{{ card.title }}</h5>
      <p class="card-text">{{ card.description }}</p>
      <a [href]="card.redirect.path" class="btn btn-low-mix-govco float-right">
        <span class="btn-govco-text">{{ card.redirect.name }}</span>
        <span class="govco-icon govco-icon-right-arrow"></span>
      </a>
    </div>
  </div>
</div>
