<div>
  <app-header></app-header>
  <div class="container wrapper card govco-card pb-5 px-4">
    <app-your-opinion></app-your-opinion>
    <app-informed></app-informed>
  </div>
  <app-interest></app-interest>
  <app-footer></app-footer>
</div>
