<div class="d-md-flex justify-content-md-between">
  <div class="participation">
    <span
      class="participation-badge text-uppercase pl-2 d-inline-block text-left text-white mb-2"
      [ngStyle]="color"
      >{{ opinion.badge }}</span
    >
    <h6 class="headline-xs-govco m-0">{{ opinion.title }}</h6>
    <p>{{ opinion.description }}</p>
  </div>
  <span class="small-text-govco pb-3 align-items-end">{{
    opinion.members
  }}</span>
</div>
<hr class="m-0 mb-3" />
