textarea,
textarea:focus {
  background-color: #e5eefb;
  height: 55%;
}
textarea::placeholder {
  color: #0b457f;
}
.card-opinion {
  border-color: #3772ff;
}
.card-opinion__text {
  color: #004884 !important;
}
